<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Edit <%= animal.habitat %></h1>
  <form action="/animals/<%= animal._id %>?_method=PUT" method="POST" autocomplete="off">
    <input placeholder="edit habitat" type="text" name="habitat">
    <button type="submit">Save Habitat</button>
  </form>
</body>
</html>